<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap-theme.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Document</title>
</head>
<body class="text-center container">
    <h2>index.html</h2>
    <p class="well">这是一个Thymeleaf引擎生成的网页，数据由MVC控制器传入</p>
    <h4 class="myclass" th:text="${info}"></h4>
    <a th:href="@{/index.html}" class="btn btn-default">返回主页</a>
</body>
</html>
